# Prediction_of_power_consumption_PJT

## 1. Data loading

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
!ls
!ls ./energy

Prediction_of_power_consumption_PJT.ipynb
energy
sample_submission.csv test.csv              train.csv

In [35]:
base_path = "./energy/"

In [36]:
train = pd.read_csv(base_path + "train.csv", encoding='cp949')
test = pd.read_csv(base_path + "test.csv", encoding='cp949')

In [37]:
train.columns = ["num", "date_time", "target", "temperature", "windspeed", "humidity",
                "precipitation", "insolation", "elec_cool", "solar"]

test.columns = ["num", "date_time", "temperature", "windspeed", "humidity",
                "precipitation", "insolation", "elec_cool", "solar"]

In [46]:
# train

In [47]:
# test

## 2. Data Preprocessing with EDA

- 학습 기간: 2020-06-01 00 ~ 2020-08-24 23

- 예측 기간: 2020-08-25 00 ~ 2020-08-31 23 23


<br>

- 학습 기간: 2022-10-01 00 ~ 2022-11-02 23

- 예측 기간: 2022-11-02 21 ~ 2022-11-07 23

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   num         122400 non-null  int64
 1   date_time   122400 non-null  object
 2   전력사용량(kWh)  122400 non-null  float64
 3   기온(°C)      122400 non-null  float64
 4   풍속(m/s)     122400 non-null  float64
 5   습도(%)       122400 non-null  float64
 6   강수량(mm)     122400 non-null  float64
 7   일조(hr)      122400 non-null  float64
 8   비전기냉방설비운영   122400 non-null  float64
 9   태양광보유       122400 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 9.3+ MB

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10080 entries, 0 to 10079
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num           10080 non-null  int64
 1   date_time     10080 non-null  object
 2   기온(°C)        3360 non-null   float64
 3   풍속(m/s)       3360 non-null   float64
 4   습도(%)         3360 non-null   float64
 5   강수량(mm, 6시간)  1680 non-null   float64
 6   일조(hr, 3시간)   3360 non-null   float64
 7   비전기냉방설비운영     2296 non-null   float64
 8   태양광보유         1624 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 708.9+ KB

In [41]:
# # 1. 결측치 확인
# # 2. dtype이 object인 columns 확인
# # 3. target distribution

# plt.figure(figsize=(12, 6))
# sns.histplot(data=train, x="전력사용량(kWh)")
# plt.show()

In [42]:
# sns.boxplot(data=train, y="전력사용량(kWh)")
# plt.show()

In [28]:
# train[train["전력사용량(kWh)"] > 5500]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
110155,54,2020-08-24 19,7130.592,29.2,1.0,72.0,0.0,0.6,1.0,0.0
110156,54,2020-08-24 20,6516.936,28.0,0.1,79.0,0.0,0.0,1.0,0.0
110157,54,2020-08-24 21,6321.888,27.6,0.1,82.0,0.0,0.0,1.0,0.0
110158,54,2020-08-24 22,6193.584,27.5,0.4,84.0,0.0,0.0,1.0,0.0
110159,54,2020-08-24 23,6270.696,27.2,0.4,84.0,0.0,0.0,1.0,0.0

In [33]:
# train[train["전력사용량(kWh)"] > 12500]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14294,8,2020-06-01 14,12991.52430,25.3,2.3,32.0,0.0,1.0,1.0,1.0
14295,8,2020-06-01 15,12917.37060,25.4,2.8,33.0,0.0,1.0,1.0,1.0
14296,8,2020-06-01 16,12809.80245,25.3,3.6,27.0,0.0,1.0,1.0,1.0
14342,8,2020-06-03 14,13642.90380,26.6,1.4,50.0,0.0,0.9,1.0,1.0
14343,8,2020-06-03 15,14143.04460,27.3,1.6,48.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16313,8,2020-08-24 17,17136.35100,31.6,1.0,57.0,0.0,1.0,1.0,1.0
16314,8,2020-08-24 18,12642.34955,30.1,0.7,68.0,0.0,1.0,1.0,1.0
77245,38,2020-08-13 13,12607.56000,29.1,3.7,78.0,0.0,0.0,1.0,1.0
77246,38,2020-08-13 14,12549.60000,29.6,3.0,77.0,0.0,0.0,1.0,1.0
77247,38,2020-08-13 15,12824.28000,29.5,3.0,77.0,0.0,0.0,1.0,1.0

In [34]:
# train[train["전력사용량(kWh)"] > 15000]

,num,date_time,전력사용량(kWh),기온(°C),풍속(m/s),습도(%),강수량(mm),일조(hr),비전기냉방설비운영,태양광보유
14459,8,2020-06-08 11,15177.411,27.9,1.2,53.0,0.0,1.0,1.0,1.0
14464,8,2020-06-08 16,15152.454,31.0,1.5,40.0,0.0,1.0,1.0,1.0
14482,8,2020-06-09 10,15139.800,26.7,0.9,50.0,0.0,1.0,1.0,1.0
14483,8,2020-06-09 11,15417.936,28.7,1.8,45.0,0.0,1.0,1.0,1.0
14485,8,2020-06-09 13,15177.420,30.7,1.4,36.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
16309,8,2020-08-24 13,17423.793,31.5,2.0,56.0,0.0,1.0,1.0,1.0
16310,8,2020-08-24 14,17458.137,31.4,1.9,55.0,0.0,1.0,1.0,1.0
16311,8,2020-08-24 15,17230.671,32.1,2.1,56.0,0.0,1.0,1.0,1.0
16312,8,2020-08-24 16,17300.313,32.3,1.6,54.0,0.0,1.0,1.0,1.0
16313,8,2020-08-24 17,17136.351,31.6,1.0,57.0,0.0,1.0,1.0,1.0

In [36]:
# train[train["전력사용량(kWh)"] > 17000].shape

(40, 10)

In [43]:
# # 건물 별로 전력 사용량 패턴이 다름!!!
# plt.figure(figsize=(30, 6))
# sns.boxplot(data=train, x="num", y="전력사용량(kWh)")

In [44]:
# train

In [45]:
# for n in range(1, 61):
#     plt.figure(figsize=(10, 6))
#     plt.title(f"Building {n}")
#     sns.lineplot(data=train[train.num == n], x="date_time", y="전력사용량(kWh)", ci=None)
#     plt.show()

In [26]:
train.date_time = pd.to_datetime(train.date_time)
test.date_time = pd.to_datetime(test.date_time)

In [48]:
# train

In [52]:
# train.columns

In [50]:
# train.columns = ["num", "date_time", "target", "temperature", "windspeed", "humidity",
#                 "precipitation", "insolation", "elec_cool", "solar"]

# test.columns = ["num", "date_time", "temperature", "windspeed", "humidity",
#                 "precipitation", "insolation", "elec_cool", "solar"]

In [51]:
# train

In [53]:
# for n in range(1, 61):
#     plt.figure(figsize=(10, 6))
#     plt.title(f"Building {n}")
#     sns.lineplot(data=train[train.num == n], x="date_time", y="target", errorbar=None)
#     plt.show()

In [54]:
# # test data 결측치 처리

# # 1. 기상 정보들
# plt.figure(figsize=(30, 6))
# sns.lineplot(data=train, x="date_time", y="temperature", errorbar=None)
# # sns.lineplot(data=test, x="date_time", y="temperature", errorbar=None)

In [55]:
# # humidity
# plt.figure(figsize=(30, 6))
# sns.lineplot(data=train, x="date_time", y="humidity", errorbar=None)

In [56]:
# # 1. 기상 정보들
# # 평균으로 다 그어버린 이상한 버전...🤣
# plt.figure(figsize=(30, 6))
# test.temperature = test.temperature.fillna(test.temperature.mean())
# sns.lineplot(data=test, x="date_time", y="temperature", errorbar=None)

In [57]:
# # 1. 기상 정보들
# # 평균으로 다 그어버린 이상한 버전...🤣
# plt.figure(figsize=(30, 6))
# test.temperature = test.temperature.fillna(test.temperature.mean())
# test.precipitation = test.precipitation.fillna(test.precipitation.mean())

# sns.lineplot(data=test, x="date_time", y="precipitation", errorbar=None)

In [58]:
# # linear interpolation!!
# # 빈 값을 자연스럽게 채워주는 방식
# plt.figure(figsize=(30, 6))
# sns.lineplot(data=test, x="date_time", y="precipitation", errorbar=None)

In [59]:
# test.temperature

In [60]:
# test.temperature.interpolate(method="linear")

In [68]:
test.temperature = test.temperature.interpolate(method="linear")
test.humidity = test.humidity.interpolate(method="linear")
test.windspeed = test.windspeed.interpolate(method="linear")
test.insolation = test.insolation.interpolate(method="linear")
test.precipitation = test.precipitation.interpolate(method="linear")
train

,num,date_time,target,temperature,windspeed,humidity,precipitation,insolation,elec_cool,solar
0,1,2020-06-01 00,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,1,2020-06-01 01,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,1,2020-06-01 02,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,1,2020-06-01 03,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,1,2020-06-01 04,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
122395,60,2020-08-24 19,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,60,2020-08-24 20,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,60,2020-08-24 21,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,60,2020-08-24 22,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,60,2020-08-24 23,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [61]:
# # 2. 건물 정보들
# test.elec_cool

In [62]:
# test.solar

In [63]:
# # train에 있는 건물 별, 각 시간의 건물 정보를 그대로 쓸 수 있지 않을까?

# ## To-Do
# ## 1) train에 있는 각 건물 별로 elec_cool_flag와 solar가 같은지 체크
# # 아무것도 없으면 통과!
# for n in train.num.unique():
#     if len(train[train.num == n].elec_cool.unique()) == 1 and len(train[train.num == n].solar.unique()) == 1:
#         continue
#     else:
#         print("Different!")
#         break

# ## 2) 같다면, test data에 같은 건물 번호를 가지는 데이터에 연결
# building_info = train[["num", "elec_cool", "solar"]].drop_duplicates()
# # pd.merge(test, building_info, on="num") # 뭔가 좀 이상함.. x, y가 생김
# test = pd.merge(test.drop(columns=["elec_cool", "solar"]), building_info, on="num") # 뭔가 좀 이상함.. x, y가 생김
# test

In [64]:
# train

In [65]:
# for n in range(1, 11):
#     plt.figure(figsize=(10, 6))
#     plt.title(f"Building {n}")
#     sns.lineplot(data=train[train.num == n], x="date_time", y="target", errorbar=None)
# #     plt.subplot(5, 2, n) # 한 줄에 여러 그림을 한 번에 출력하기
#     plt.show()

In [11]:
train.date_time

0         2020-06-01 00
1         2020-06-01 01
2         2020-06-01 02
3         2020-06-01 03
4         2020-06-01 04
              ...
122395    2020-08-24 19
122396    2020-08-24 20
122397    2020-08-24 21
122398    2020-08-24 22
122399    2020-08-24 23
Name: date_time, Length: 122400, dtype: object

In [69]:
# Time feature()
def convert_date(x):
    return x.dayofweek
#     if x.dt.dayofweek in [5, 6]:
#         return 1
#     else:
#         return 0

def convert_hour(x):
    return x.hour

train["dow"] = train.date_time.dt.dayofweek
train["hour"] = train.date_time.apply(convert_hour)
train

# def convert_month():
#     return
# def convert_month():
#     return

AttributeError: Can only use .dt accessor with datetimelike values

### 3. Data Preparation

In [70]:
# 예측에 사용하지 않을 columns drop!
train.drop(columns=["num", "date_time"])

,target,temperature,windspeed,humidity,precipitation,insolation,elec_cool,solar
0,8179.056,17.6,2.5,92.0,0.8,0.0,0.0,0.0
1,8135.640,17.7,2.9,91.0,0.3,0.0,0.0,0.0
2,8107.128,17.5,3.2,91.0,0.0,0.0,0.0,0.0
3,8048.808,17.1,3.2,91.0,0.0,0.0,0.0,0.0
4,8043.624,17.0,3.3,92.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
122395,4114.368,27.8,2.3,68.0,0.0,0.7,1.0,1.0
122396,3975.696,27.3,1.2,71.0,0.0,0.0,1.0,1.0
122397,3572.208,27.3,1.8,71.0,0.0,0.0,1.0,1.0
122398,3299.184,27.1,1.8,74.0,0.0,0.0,1.0,1.0
122399,3204.576,27.1,2.6,75.0,0.0,0.0,1.0,1.0

In [71]:
from sklearn.model_selection import train_test_split

X = train.drop(columns="target") # feature vector
y = train.target # target value

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42)
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(110160, 9) (12240, 9) (110160,) (12240,)

In [73]:
X_train

,num,date_time,temperature,windspeed,humidity,precipitation,insolation,elec_cool,solar
12942,7,2020-06-30 06,18.5,2.7,96.0,10.6,0.0,1.0,0.0
44750,22,2020-08-19 14,33.2,1.4,62.0,0.0,1.0,1.0,0.0
81639,41,2020-06-02 15,22.7,4.6,45.0,0.0,0.9,1.0,0.0
32778,17,2020-06-06 18,28.1,3.4,55.0,0.0,1.0,1.0,0.0
38256,19,2020-08-04 00,26.0,3.7,86.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
119879,59,2020-08-04 23,24.3,1.2,93.0,0.0,0.0,1.0,0.0
103694,51,2020-08-10 14,29.3,2.2,82.0,0.0,0.0,0.0,1.0
860,1,2020-07-06 20,26.0,3.2,69.0,0.0,0.0,0.0,0.0
15795,8,2020-08-03 03,26.4,2.8,81.0,0.0,0.0,1.0,1.0
121958,60,2020-08-06 14,24.2,2.5,77.0,0.0,0.3,1.0,1.0

### 4. Training

In [ ]:
# 앙상블 기법

- Bagging
- Boosting
- Voting
- St

In [ ]:
from sklearn.linear_model import LinearRegression
from lightgbm.sklearn import LGBMRegressor # lightgbm.sklearn 임을 기억하자!!