## Pandas

### 1. Pandas DataFrame and Operations

In [3]:
# pandas 라이브러리를 불러옵니다. pd를 약칭으로 사용합니다.
!pip install pandas

Requirement already satisfied: pandas in /Users/sainthm/opt/anaconda3/envs/sainthm/lib/python3.8/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/sainthm/opt/anaconda3/envs/sainthm/lib/python3.8/site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sainthm/opt/anaconda3/envs/sainthm/lib/python3.8/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/sainthm/opt/anaconda3/envs/sainthm/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/sainthm/opt/anaconda3/envs/sainthm/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [6]:
# import numpy ad np
# import pandas as pd
# import matplotlib.pyplt as plt
# import seaborn as sns

import pandas as pd
pd.__version__

'1.4.3'

- DataFrame은 2차원 테이블이고, 테이블의 한 줄(행/열)을 Series라고 합니다.


- Series의 모임이 곧, DataFrame이 됩니다.

In [7]:
# s는 1, 3, 5, 6, 8을 원소로 가지는 pandas.Series
pd.Series([1, 3, 5, 6, 8]) # 대문자 S! , 리스트와 비슷하다고 이해하자

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [9]:
# 6x4 행렬에 1부터 24까지의 숫자를 원소를 가지고, columns은 순서대로 X1, X2, X3, X4로 하는 DataFrame 생성, 판다스의 근본 데이터프레임!
df = pd.DataFrame(data=[[1, 2, 3, 4],
                        [5, 6, 7, 8],
                        [9, 10, 11, 12],
                        [13, 14, 15, 16],
                        [17, 18, 19, 20],
                        [21, 22, 23, 24]],
                  columns=["X1", "X2", "X3", "X4"])
df

   X1  X2  X3  X4
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

In [ ]:
# dataframe index

In [ ]:
# dataframe columns

In [ ]:
# dataframe values

In [ ]:
# 특정 column을 가져오기

In [ ]:
# X1 column에 2 더하기

### 2.1. Dataframe 기초 method

In [ ]:
# dataframe의 맨 위 다섯줄을 보여주는 head()

In [ ]:
# 10줄

In [ ]:
# dataframe에 대한 전체적인 요약정보를 보여줍니다. index, columns, null/not-null/dtype/memory usage가 표시됩니다.

In [ ]:
# dataframe에 대한 전체적인 통계정보를 보여줍니다.

In [ ]:
# X2 column를 기준으로 내림차순 정렬

### 2.2. Fancy Indexing ! (***)

- 데이터를 filtering <=> Search !

- 전체 데이터에서 원하는 일부의 데이터를 찾아오는 방법 !

In [ ]:
# pandas dataframe은 column 이름을 이용하여 기본적인 Indexing이 가능합니다.

In [ ]:
# dataframe에서 slicing을 이용하면 row 단위로 잘려나옵니다.

In [ ]:
# df.loc에 2차원 indexing도 가능합니다.
## df.loc[index, column_name]
df.loc[7, "X1"]  # index값이 7이고, column 이름이 'X1'인 데이터.

In [ ]:
# dataframe에 조건식을 적용해주면 조건에 만족하는지 여부를 알려주는 "mask"가 생깁니다.

In [ ]:
# iloc로 2차원 indexing을 하게되면, row 기준으로 index 3,4를 가져오고 column 기준으로 0, 1을 가져옵니다.

In [ ]:
# Q. 2차원 indexing에 뒤에가 : 면 어떤 의미일까요?

### 2.3 DataFrame으로 데이터 불러오기

In [ ]:
# csv 파일 불러오기
data =

In [ ]:
# 엑셀 파일 불러오기
data =