# EDA

## 맡은 데이터 파트
- 한국 금리 변동
- 한국 통화량 추이
- 한국 주택담보 대출 추이

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 한국 금리 변동

In [5]:
# 데이터 가져오기
bokbr = pd.read_csv("./EDA_file/bokbr.csv")
bokbr.head()

     DateTime  Percent
0  2008-08-07     5.25
1  2008-10-09     5.00
2  2008-10-27     4.25
3  2008-11-07     4.00
4  2008-12-11     3.00

### 한국 통화량 추이

### 한국 주택담보 대출 추이