# 2022 UOS Big Data Algorithm Competition

## Details of competition

<br>

### URL: https://dacon.io/competitions/official/236029/overview/description

<br>

### Topic

서울시 지역구별 **따릉이 대여량 예측 모델 개발**

<br>

### Background

전 세계의 많은 도시가 교통 정체와 대기 오염의 감축을 위해 공유 자전거 시스템을 도입하고 있으며, 국내의 경우에는 대표적으로 2015년부터 서울시에서 서비스 중인 '따릉이'라는 공유 자전거 시스템이 있습니다.


따릉이 이용객이 증가함에 따라 각 지역구에서 공유 자전거 수요는 증가하고 있지만, 한정된 예산하에서 수요를 관리하기 때문에 운영과 관리에 어려움이 존재합니다.


또한 최근에는 코로나로 인한 사회적 거리두기가 해제되면서 서울시의 따릉이 수요는 나날이 급증하고 있습니다.


따라서 다음 해의 서울시 지역구별 따릉이 수요를 정확히 예측할 수 있다면 대여소의 확장, 공유 자전거 신규 도입 등에 더 효율적으로 예산을 활용할 수 있을 것입니다.


이번 경진대회에서 따릉이의 효율적인 운영과 관리에 도움을 줄 수 있는 서울시 지역구별 따릉이 대여량 예측 AI 모델을 만들어 주세요.


<br>

## Details of data

<br>

### train.csv [파일]


- 2018년 01월 01일 ~ 2021년 12월 31일까지의 지역구별 따릉이 대여량
- 일시 : 년월일
- 광진구 : 광진구의 일별 따릉이 대여량 (천명 단위)
- 동대문구 : 동대문구의 일별 따릉이 대여량 (천명 단위)
- 성동구 : 성동구의 일별 따릉이 대여량 (천명 단위)
- 중랑구 : 중랑구의 일별 따릉이 대여량 (천명 단위)

<br>

### sample_submission.csv [제출양식]


- 2022년 01월 01일 ~ 2022년 11월 30일까지의 예측한 지역구별 따릉이 대여(수요)량
- 일시 : 년월일
- 광진구 : 광진구의 일별 따릉이 대여량 (천명 단위)
- 동대문구 : 동대문구의 일별 따릉이 대여량 (천명 단위)
- 성동구 : 성동구의 일별 따릉이 대여량 (천명 단위)
- 중랑구 : 중랑구의 일별 따릉이 대여량 (천명 단위)

<br>

### 추천 공공 데이터


- 아래의 링크에서 외부 변수들을 추가로 활용할 수 있는 외부 데이터를 탐색할 수 있습니다.
- 서울시 열린데이터 광장 링크: https://data.seoul.go.kr/
- 단, 외부 데이터 사용 규칙을 꼭 유의하여 사용해주시기 바랍니다.

<br>

## 1. Derive results using Excel only

## 놀랍게도 결과는 3등!!
- Score: 3.86611

## 2. Derive results using prophet

In [1]:
# import basic module
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import cmdstanpy
# cmdstanpy.install_cmdstan()

In [3]:
# # pwd & file check
# !ls

In [4]:
# !pip install prophet

In [5]:
# pip install prophet
from datetime import datetime
from prophet import Prophet

In [6]:
train = pd.read_csv('./dacon_236029_open/train.csv')
train

            일시    광진구   동대문구    성동구    중랑구
0     20180101  0.592  0.368  0.580  0.162
1     20180102  0.840  0.614  1.034  0.260
2     20180103  0.828  0.576  0.952  0.288
3     20180104  0.792  0.542  0.914  0.292
4     20180105  0.818  0.602  0.994  0.308
...        ...    ...    ...    ...    ...
1456  20211227  3.830  3.416  2.908  2.350
1457  20211228  4.510  3.890  3.714  2.700
1458  20211229  4.490  3.524  3.660  2.524
1459  20211230  4.444  3.574  3.530  2.506
1460  20211231  3.616  3.210  2.620  2.146

[1461 rows x 5 columns]

In [7]:
# Data preprocessing
sample = pd.read_csv('./dacon_236029_open/sample_submission.csv')
sample

           일시  광진구  동대문구  성동구  중랑구
0    20220101    0     0    0    0
1    20220102    0     0    0    0
2    20220103    0     0    0    0
3    20220104    0     0    0    0
4    20220105    0     0    0    0
..        ...  ...   ...  ...  ...
329  20221126    0     0    0    0
330  20221127    0     0    0    0
331  20221128    0     0    0    0
332  20221129    0     0    0    0
333  20221130    0     0    0    0

[334 rows x 5 columns]

In [8]:
# Data preprocessing
train['일시'] = pd.to_datetime(train['일시'], format='%Y%m%d')
train

             일시    광진구   동대문구    성동구    중랑구
0    2018-01-01  0.592  0.368  0.580  0.162
1    2018-01-02  0.840  0.614  1.034  0.260
2    2018-01-03  0.828  0.576  0.952  0.288
3    2018-01-04  0.792  0.542  0.914  0.292
4    2018-01-05  0.818  0.602  0.994  0.308
...         ...    ...    ...    ...    ...
1456 2021-12-27  3.830  3.416  2.908  2.350
1457 2021-12-28  4.510  3.890  3.714  2.700
1458 2021-12-29  4.490  3.524  3.660  2.524
1459 2021-12-30  4.444  3.574  3.530  2.506
1460 2021-12-31  3.616  3.210  2.620  2.146

[1461 rows x 5 columns]

In [9]:
# Coding!!

def predict(train, column):
    model = Prophet()
    df = pd.DataFrame()
    df['ds'] = train['일시']
    df['y'] = train[column]
    model.fit(df)
    future = model.make_future_dataframe(periods=334, freq='D')
    forecast = model.predict(future)
    return forecast.loc[1461:, 'yhat'].values

In [10]:
# Training!!
sample['광진구'] = predict(train, '광진구')
# sample['동대문구'] = predict(train, '동대문구')
# sample['성동구'] = predict(train, '성동구')
# sample['중랑구'] = predict(train, '중랑구')
sample

17:25:10 - cmdstanpy - INFO - Chain [1] start processing
17:25:11 - cmdstanpy - INFO - Chain [1] done processing

           일시       광진구  동대문구  성동구  중랑구
0    20220101  5.124026     0    0    0
1    20220102  4.835781     0    0    0
2    20220103  5.135126     0    0    0
3    20220104  5.253504     0    0    0
4    20220105  5.482315     0    0    0
..        ...       ...   ...  ...  ...
329  20221126  8.989733     0    0    0
330  20221127  8.603753     0    0    0
331  20221128  8.803786     0    0    0
332  20221129  8.821300     0    0    0
333  20221130  8.947747     0    0    0

[334 rows x 5 columns]

In [11]:
!ls

UOS_2022.ipynb                        submission_11-14-2022 19:28:33 PM.csv
UOS_2022_custom.ipynb                 submission_11-14-2022 19:31:33 PM.csv
dacon_236029_open                     submission_11-14-2022 21:02:11 PM.csv
dacon_236029_open.zip                 train_all.csv
result                                train_test_all_2.numbers

In [12]:
print("Hello")

Hello

In [13]:
sample.to_csv('./temp_result/submission_3.csv', index=False)

FileNotFoundError: [Errno 2] No such file or directory: './temp_result/submission_3.csv'

In [ ]:
currentDateTime = datetime.now().strftime("%m-%d-%Y %H:%M:%S %p")
sample.to_csv(f"submission_{currentDateTime}.csv", index = False)

In [ ]:
# # Reference: jjooki

# ## 정리된 코드입니다.

# from prophet import Prophet
# import pandas as pdZ

# train = pd.read_csv('./dacon_236029_open/train.csv')
# sample = pd.read_csv('./dacon_236029_open/sample_submission.csv')

# train['일시'] = pd.to_datetime(train['일시'], format='%Y%m%d')

# def 예측하기(train, column):
#     model = Prophet()
#     df = pd.DataFrame()
#     df['ds'] = train['일시']
#     df['y'] = train[column]
#     model.fit(df)
#     future = model.make_future_dataframe(periods=334, freq='D')
#     forecast = model.predict(future)
#     return forecast.loc[1461:, 'yhat'].values

# sample['광진구'] = 예측하기(train, '광진구')
# sample['동대문구'] = 예측하기(train, '동대문구')
# sample['성동구'] = 예측하기(train, '성동구')
# sample['중랑구'] = 예측하기(train, '중랑구')
# sample
# sample.to_csv('./submission.csv', index=False)